.navbar{
    background-color:  #fff;
}

.navbar span{
    color: #707070;
}

.navbar-toggler{
    border: none;
}
.navbar-toggler i{
    color:  #707070;
}

.navbar .nav-link{
    color: #707070; !important;
}

.lead{
    text-align:left;
}

.jumbotron{
    background-image: url(../img/splash1.avif);
    background-position: center;
    background-size: cover !important;
    height: 450px;
    
    border-radius: 0;
    color:  #4f4e4e;
}

.jumbotron .btn:hover{
    color: #fff;
    background-color: #e4802f;
}

h2{
    color:  #4f4b4b;
    text-align: center;
    padding: 30px;

}

p{
    text-align: center;
    color: #707070;
    font-size: 20px;
}

.card-body{
    text-align: center;
    font-size: 30px;
}

.card-title{
    color: #4f4e4e;
    font-size: 25px;
}

.card img{
    height: 280px;
}

.nosotros{
    width: 100%;
    background-color: #e3e2e0;

}
.nleft{
    height: 450px;
    background-image: url(../img/empresa.jpg) ;
    background-size: cover;
    background-position: center;
}

.nright{
    text-align: center;
}

.nright h3{
    padding: 50px;
    color: #4f4e4e;
    font-size: 30px;
}

.coverix{
    color: #e4802f;
}

.nright p{
    color: #707070;
    font-size: 20px;
}


.segunda{
    width: 100%;
    background-color: #e3e2e0;

}

.izquierda{
    text-align: center;
}

.izquierda h3{
    padding: 50px;
    color: #4f4e4e;
    font-size: 30px;
}

.derecha{
     
    background-image: url(../img/familia-sonriente-posando-juntos-parque_107420-82188.avif) ;
    height: 450px;
    background-size: cover;
    background-position: center;
}

.left{
    height: 450px;
    background-image: url(../img/baile.webp) ;
    background-size: cover;
    background-position: center;

}

.espacio{
    height:60px;
}

.final{
    height: 300px;
}

.final h2{
    padding-top: 80px;
    text-align: center;
}

